<?xml version="1.0" encoding="UTF-8"?>
<Context path="/se1303lib">
    <Resource name="jdbc/mydb" auth="Container"
              type="javax.sql.DataSource" 
              driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver"
              url="jdbc:sqlserver://Lanhnv:1433;databaseName=FuLib;"
              username="student" password="abcd"/>
</Context>