<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controller.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStudentServlet</servlet-name>
        <servlet-class>controller.addStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePasswordServlet</servlet-name>
        <servlet-class>controller.changePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchingServlet</servlet-name>
        <servlet-class>controller.searchingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewStudentListServlet</servlet-name>
        <servlet-class>controller.viewStudentListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCourseServlet</servlet-name>
        <servlet-class>controller.addCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStudentServlet</servlet-name>
        <url-pattern>/addStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePasswordServlet</servlet-name>
        <url-pattern>/changePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchingServlet</servlet-name>
        <url-pattern>/searchingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewStudentListServlet</servlet-name>
        <url-pattern>/viewStudentListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCourseServlet</servlet-name>
        <url-pattern>/addCourseServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/err.jsp</location>
    </error-page>
</web-app>
